body {
  background-color: #d4d4d4;
}

#wrap {
  width: auto;
  margin: 25px;

  #map {
    height: 500px;
  }

  .ph-button-wrap {
    .ph-file-name {
      margin-left: 10px;
    }
  }

  .ph-file-error {
    color: #f00;
    padding-right: 12px;
    position: absolute;
    right: 10px;
    top: 24px;
  }

  .hidden-upload-field {
    width: 0;
    height: 0;

    input {
      width: 0;
      height: 0;
      visibility: hidden;
      font-size: 0;
    }
  }
}
