body {
  background-color: #d4d4d4;
}

#wrap {
  width: auto;
  margin: 25px;

  #map {
    height: 500px;
  }

  .ph-button-wrap {
    .ph-file-name {
      margin-left: 10px;
    }
  }

  .ph-file-error {
    color: #f00;
    padding-right: 12px;
    position: absolute;
    right: 10px;
    top: 24px;
  }

  .ph-photo-wrap {
    position: relative;
    display: inline-block;

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    & + .ph-photo-wrap {
      margin-left: 5px;
    }

    .ph-image-options {
      position: absolute;
      top: 10px;
      right: 10px;
      visibility: hidden;

      .icon {
        &.trash {
          font-size: 1.2em;
          color: #000;
          cursor: pointer;

          &:hover {
            color: #f00;

            .scale-mixin();
            .transition-mixin();
          }
        }
      }
    }

    &:hover .ph-image-options {
      visibility: visible;
    }
  }

  .hidden-upload-field {
    width: 0;
    height: 0;

    input {
      width: 0;
      height: 0;
      visibility: hidden;
      font-size: 0;
    }
  }
}

.scale-mixin(@coef: 1.5) {
  -webkit-transform: scale(@coef);
  -moz-transform: scale(@coef);
  -o-transform: scale(@coef);
  -ms-transform: scale(@coef);
  transform: scale(@coef);
}

.transition-mixin(@time: 0.2s) {
  -webkit-transition: all @time ease-out;
  -moz-transition: all @time ease-out;
  -o-transition: all @time ease-out;
  -ms-transition: all @time ease-out;
  transition: all @time ease-out;
}
